/* Add Stylesheet Info Later */

.hero-section{
  background-color: #e8f0e3;
  min-height: 450 px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-content{
  max-width: 700px;
}

.title{
font-size: 48px;
}

.tagline{
  font-size: 24px;
  font-weight:bold;
}

.topnav{
  background-color: rgb(8, 86, 23);
  overflow: hidden;
}

.topnav a{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover{
  background-color: #ddd;
  color: black;
}

.topnav a.active{
  background-color: #000906;
  color: white;
}

